

<main class="main">
  <div class="content">
    <div>
      <h1>Ejemplo de Botones Diferentes</h1>
    </div>
    <div style="display: flex; flex-direction: column;">
    
      <!-- Botones con estilos diferentes -->
       <div>
         <button class="btn btn-xsmall btn-red500">Default</button>
       </div>
       <div>
         <button class="btn btn-small btn-red500">Botón Secundario</button>
       </div>
       <div>
         <button class="btn btn-middle btn-red900">Botón de Éxito</button>
       </div>
       <div>
         <button class="btn btn-middle btn-red300">Botón de Peligro</button>
       </div>
       <div>
         <button class="btn btn-middle btn-red200">Botón de Advertencia</button>
       </div>
    </div>



  </div>
</main>


<router-outlet />
